openapi: 3.0.3
info:
  title: Intent OS — Control Plane API
  version: 0.1.0
  description: Control Plane endpoints for tenants, workspaces, identity, policy, templates, and connectors.

servers:
  - url: https://api.iaifoundation.com/v1

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ApiResponse:
      type: object
      properties:
        ok:
          type: boolean
        data:
          type: object
        meta:
          type: object
          properties:
            request_id:
              type: string
            next_cursor:
              type: string
              nullable: true

    ApiError:
      type: object
      properties:
        ok:
          type: boolean
          enum: [false]
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
        meta:
          type: object
          properties:
            request_id:
              type: string

    Tenant:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [person, family, business, enterprise, partner, platform_internal]
        name:
          type: string
        slug:
          type: string
        status:
          type: string
        timezone:
          type: string
          nullable: true
        locale:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Workspace:
      type: object
      properties:
        id:
          type: string
        tenant_id:
          type: string
        name:
          type: string
        slug:
          type: string
        workspace_type:
          type: string
          nullable: true
        status:
          type: string
        default_policy_pack_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PolicyPack:
      type: object
      properties:
        id:
          type: string
        tenant_id:
          type: string
        workspace_id:
          type: string
          nullable: true
        name:
          type: string
        version:
          type: string
        status:
          type: string
          enum: [draft, review, approved, published, deprecated, archived]
        checksum:
          type: string
        published_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PolicyEvaluateRequest:
      type: object
      required: [actor, resource, action, context]
      properties:
        actor:
          type: object
          required: [id, role]
          properties:
            id:
              type: string
            role:
              type: string
        resource:
          type: object
          required: [type, id]
          properties:
            type:
              type: string
            id:
              type: string
        action:
          type: string
        context:
          type: object

    PolicyEvaluateResponse:
      type: object
      properties:
        decision:
          type: string
          enum: [allow, deny, allow_with_approval, allow_with_limits, allow_with_additional_proof, escalate_to_human, quarantine]
        policy_pack_id:
          type: string
        reason:
          type: string
          nullable: true
        required_approvals:
          type: integer
          nullable: true
        limits:
          type: object
          nullable: true

    IntentTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        intent_category:
          type: string
        version:
          type: string
        status:
          type: string
          enum: [draft, review, approved, published, deprecated, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Connector:
      type: object
      properties:
        id:
          type: string
        connector_type:
          type: string
        provider:
          type: string
        health_status:
          type: string
          enum: [healthy, degraded, failing, disabled, unknown]
        last_checked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ConnectorTestResult:
      type: object
      properties:
        health_status:
          type: string
        latency_ms:
          type: integer
        quota_status:
          type: string
        degraded_mode:
          type: boolean

security:
  - BearerAuth: []

paths:
  /auth/login:
    post:
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password_or_assertion]
              properties:
                email:
                  type: string
                password_or_assertion:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /auth/logout:
    post:
      summary: Logout user
      responses:
        '200':
          description: Logout successful

  /auth/me:
    get:
      summary: Get current user info
      responses:
        '200':
          description: Current user info

  /tenants:
    get:
      summary: List tenants
      responses:
        '200':
          description: Tenant list
    post:
      summary: Create tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, name, slug]
              properties:
                type:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                owner_user_id:
                  type: string
      responses:
        '201':
          description: Tenant created

  /workspaces:
    get:
      summary: List workspaces
      responses:
        '200':
          description: Workspace list
    post:
      summary: Create workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, name, slug]
              properties:
                tenant_id:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                workspace_type:
                  type: string
      responses:
        '201':
          description: Workspace created

  /roles:
    get:
      summary: List roles
      responses:
        '200':
          description: Role list

  /role-bindings:
    post:
      summary: Create role binding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, role_id]
              properties:
                tenant_id:
                  type: string
                workspace_id:
                  type: string
                role_id:
                  type: string
                user_id:
                  type: string
                agent_id:
                  type: string
                condition_json:
                  type: string
      responses:
        '201':
          description: Role binding created

  /policy-packs:
    get:
      summary: List policy packs
      responses:
        '200':
          description: Policy pack list
    post:
      summary: Create policy pack
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, name, version, policy_json]
              properties:
                tenant_id:
                  type: string
                workspace_id:
                  type: string
                name:
                  type: string
                version:
                  type: string
                policy_json:
                  type: string
      responses:
        '201':
          description: Policy pack created

  /policy-evaluate:
    post:
      summary: Evaluate policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyEvaluateRequest'
      responses:
        '200':
          description: Policy evaluation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PolicyEvaluateResponse'

  /policy-publish:
    post:
      summary: Publish policy pack
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy_pack_id]
              properties:
                policy_pack_id:
                  type: string
      responses:
        '200':
          description: Policy pack published

  /templates:
    get:
      summary: List intent templates
      responses:
        '200':
          description: Template list
    post:
      summary: Create intent template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, slug, intent_category, version, manifest_json]
              properties:
                tenant_id:
                  type: string
                workspace_id:
                  type: string
                name:
                  type: string
                slug:
                  type: string
                intent_category:
                  type: string
                version:
                  type: string
                manifest_json:
                  type: string
                ui_schema_json:
                  type: string
                policy_requirements_json:
                  type: string
                proof_requirements_json:
                  type: string
      responses:
        '201':
          description: Template created

  /templates/{id}/publish:
    post:
      summary: Publish intent template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Template published

  /connectors:
    get:
      summary: List connectors
      responses:
        '200':
          description: Connector list
    post:
      summary: Create connector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, connector_type, provider, config_ref, secret_ref]
              properties:
                tenant_id:
                  type: string
                workspace_id:
                  type: string
                connector_type:
                  type: string
                provider:
                  type: string
                config_ref:
                  type: string
                secret_ref:
                  type: string
      responses:
        '201':
          description: Connector created

  /connectors/{id}/test:
    post:
      summary: Test connector health
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Connector test result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ConnectorTestResult'
