openapi: 3.0.3
info:
  title: Intent OS — Runtime API
  version: 0.1.0
  description: Runtime endpoints for intent execution, runs, approvals, and proof.

servers:
  - url: https://api.iaifoundation.com/v1

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ExecuteIntentRequest:
      type: object
      required: [tenant_id, workspace_id, template_id, inputs]
      properties:
        tenant_id:
          type: string
        workspace_id:
          type: string
        template_id:
          type: string
        inputs:
          type: object
        mode:
          type: string
          enum: [template_driven, adaptive]
          default: template_driven

    ExecuteIntentResponse:
      type: object
      properties:
        run_id:
          type: string
        initial_status:
          type: string
        requires_approval:
          type: boolean
        next_action:
          type: string

    Run:
      type: object
      properties:
        id:
          type: string
        tenant_id:
          type: string
        workspace_id:
          type: string
        intent_instance_id:
          type: string
        template_id:
          type: string
          nullable: true
        status:
          type: string
          enum: [created, resolved, planned, running, awaiting_approval, waiting_external, succeeded, failed, cancelled, quarantined]
        started_at:
          type: string
          format: date-time
          nullable: true
        ended_at:
          type: string
          format: date-time
          nullable: true
        created_by_actor_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RunStep:
      type: object
      properties:
        id:
          type: string
        run_id:
          type: string
        step_type:
          type: string
        name:
          type: string
        step_order:
          type: integer
        state:
          type: string
        attempt_count:
          type: integer
        max_attempts:
          type: integer
        proof_status:
          type: string
          nullable: true

    RunEvent:
      type: object
      properties:
        id:
          type: string
        run_id:
          type: string
        step_id:
          type: string
          nullable: true
        event_type:
          type: string
        event_time:
          type: string
          format: date-time
        sequence_no:
          type: integer

    ApprovalRequest:
      type: object
      properties:
        id:
          type: string
        run_id:
          type: string
        step_id:
          type: string
        approver_actor_id:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, approved, rejected, expired]
        requested_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true
        decided_at:
          type: string
          format: date-time
          nullable: true
        reason:
          type: string
          nullable: true

    ProofBundle:
      type: object
      properties:
        id:
          type: string
        run_id:
          type: string
        step_id:
          type: string
          nullable: true
        proof_type:
          type: string
        source_type:
          type: string
        artifact_ref:
          type: string
        validation_status:
          type: string
          enum: [pending, valid, invalid, needs_review]
        confidence_score:
          type: number
          nullable: true
        created_at:
          type: string
          format: date-time

paths:
  /intents/execute:
    post:
      summary: Execute an intent
      description: Creates a new run from a template and begins execution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteIntentRequest'
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ExecuteIntentResponse'

  /runs:
    get:
      summary: List runs
      parameters:
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Run list

  /runs/{id}:
    get:
      summary: Get run detail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run detail

  /runs/{id}/events:
    get:
      summary: Get run events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run events

  /runs/{id}/trace:
    get:
      summary: Get run execution trace
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution trace

  /runs/{id}/cancel:
    post:
      summary: Cancel a run
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Run cancelled

  /runs/{id}/retry:
    post:
      summary: Retry a failed run
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run retried

  /runs/{id}/approve:
    post:
      summary: Approve a pending approval
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [run_id, approval_id, reason]
              properties:
                run_id:
                  type: string
                approval_id:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Approval approved

  /runs/{id}/reject:
    post:
      summary: Reject a pending approval
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [run_id, approval_id, reason]
              properties:
                run_id:
                  type: string
                approval_id:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Approval rejected

  /runs/{id}/proof:
    post:
      summary: Upload proof for a run
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Proof uploaded

  /runs/{id}/simulate:
    post:
      summary: Simulate a run without executing
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Simulation result
